{% extends 'multi/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Password Reset｜ランクメーカー{% endblock %}

{% block toplink %}{% url 'entrance:index' %}{% endblock %}

{% block center %}
<div class="text-center row justify-content-center">
    <h1>{% if token_fail %}不正なトークン{% else %}パスワードリセット{% endif %}</h1>


    <div class="col-lg-6 col-md-8 border p-3 text-start">
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>このパスワードリセット用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
        {% else %}
        {% if form %}
        <form method="post" class="mb-0" action="{{ action_url }}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center">
                <button class="btn btn-primary" type="submit">変更</button>
            </div>
        </form>
        {% else %}
        <p class="mb-0">パスワードは変更されています。</p>
        {% endif %}
        {% endif %}
    </div>


</div>
{% endblock %}
