{% extends 'multi/base.html' %}

{% block title %}Password Reset done｜ランクメーカー{% endblock %}

{% block toplink %}{% url 'entrance:index' %}{% endblock %}

{% block center %}
<div class="text-center row justify-content-center">
            <h1>パスワードリセット</h1>


    <div class="col-lg-6 col-md-8 border p-3 text-start">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="mb-0">パスワードリセット用メールを送信しました。</p>
    </div>

</div>
{% endblock %}
