{% extends 'multi/base.html' %}

{% load static %}

{% block title %}ランクメーカー{% endblock %}

{% block toplink %}{% url 'entrance:index' %}{% endblock %}

{% block center %}
<div class="mb-3">
    <div class="row g-0">
        <div class="col-sm-9 m-auto">
            <img src="{% static 'assets/img/topimage.png' %}" alt="" class="img-fluid">
        </div>
        <div class="d-flex col-sm-3 bg-light">
            <div class="my-auto w-100 px-2">
                <a href="{% url 'account_login' %}" class="btn btn-primary rounded-pill w-100 my-2">ログイン</a>
                <a href="{% url 'account_signup' %}" class="btn btn-outline-primary rounded-pill w-100 my-2">新規登録</a>
            </div>
        </div>
    </div>
</div>

<!--<div class="row justify-content-center">
    <div class="col-sm-9 border text-center mb-3 p-2">
        <h4 class="text-danger">お知らせ</h4>
        <p class="text-dark text-start mb-0">
            ログイン機能に不具合がありましたので、修正いたしました。<br>
            なお不具合を修正する際に、すでに登録いただいていたユーザーデータが消失してしまいました。
            お手数をおかけしますが、再登録をお願いいたします。<br>
            今後もランクメーカーβテストをよろしくお願いいたします。
        </p>
    </div>
</div>-->

<h3 class="bg-info bg-gradient text-white p-1">ランクメーカーは、勝てないプレイヤーを救うために生まれました。</h3>
<p class="mb-4 ">
    「負けてばかりでつまらない」<br>
    部活動やサークル活動、スポーツチームでそのように感じているプレイヤーはいませんか？<br>
    ランクメーカーはレーティングを用いてそのようなプレイヤーに新たなモチベーションを与える一つのソリューションです。
</p>
<p class="mb-4 ">
    ランクメーカーを使うと、チーム内のランキングを作ることができます。<br>
    「今回は負けたけど、格上相手に頑張ったな」「こんな相手に勝つなんて大金星だ」「15位から14位にランクアップしたぞ」<br>
    ランキングがあることによって、勝った負けたのイチゼロでなく、より色鮮やかなゲーム体験を得ることができます。<br>
    また、ランキングをもとに２部リーグ、３部リーグを作ることも可能です。<br>
    エンジョイプレイヤーがよりエンジョイできる環境を目指して、ランクメーカーは作られました。
</p>

<p class="mb-4 ">
    まずは新規登録ボタンから新規登録し、チームを作成するところから始めましょう！
</p>





{% endblock %}