{% extends 'multi/base.html' %}

{% load static %}

{% block title %}ランクメーカーの仕組み｜ランクメーカー{% endblock %}

{% block toplink %}{% url 'entrance:index' %}{% endblock %}

{% block center %}
        <h4 class="bg-secondary text-white p-1">ランクメーカーの仕組み</h4>
<p class="my-4">
    ランクメーカーのランキングは、レーティングに基づいて表示されます。<br>
    そのレーティングは、一般的なレーティング算出方法であるeloレーティングをベースに計算しております。
    </p>
<p class="my-4">
    elo（イロ）レーティングは1対1ゲームで用いるレーティングです。しかし、本サービスが生まれるきっかけとなった競技クイズでは、
    複数のプレイヤーが同時にゲームに参加し、それぞれに順位がつきます。通常のeloレーティングでは、これをそのまま扱うことはできません。<br>
</p>
<p class="my-4">
    こうした多人数ゲームにおいてレーティングを算出するために、当サービスでは多人数ゲームをを1対1の組み合わせに分解して計算を行います。
    例えば5人対戦であれば、3位の人は1位、2位の人に負け、4位、5位の人に勝ったと仮定して、それぞれの対戦に対して同時にレーティングを計算し、
    それを合算するという方法をとっております。
</p>

{% endblock %}