{% extends 'base.html' %}
{% load static %}

{% block title %}メンバー削除 | ランクメーカーDUEL{% endblock %}

{% block active_player_list %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <p>本当にメンバーを削除しますか？<br>削除後メンバーを再作成しても、過去の対戦結果と結びつけることはできません。</p>
            <button class="btn btn-primary mt-5" type="submit">削除</button>
            <a href="{% url 'duel:player_detail' object.pk %}" class="btn btn-secondary mt-5 ml-2">キャンセル</a>
        </form>
    </div>
</div>
{% endblock %}