{% extends 'multi/base.html' %}
{% load static %}

{% block title %}メンバー追加 | ランクメーカー{% endblock %}

{% block active_player_list %}active{% endblock %}

{% block contents %}
<h2>メンバー一括追加</h2>
<p>複数のメンバーを一括で追加します。名前と名前の間には改行を入力してください。</p>
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">追加</button>
            <a href="{% url 'multi:player_create' %}">＞一人ずつ追加する場合はこちら</a>
        </form>
    </div>
{% endblock %}