{% extends 'multi/center.html' %}
{% load static %}

{% block title %}対戦結果詳細 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">対戦結果</h4>
        <div class="row">
            <div class="col-4">
                <strong>試合タイトル</strong>
            </div>
            <div class="col-8">
                {% if object.name != "" %}{{ object.name }}{% else %}タイトルなし{% endif %}
            </div>
        </div>

        <hr class="my-1">

        <div class="row">
            <div class="col-4">
                <strong>試合日時</strong>
            </div>
            <div class="col-8">
                {{ object.date }}
            </div>
        </div>

        <hr class="my-1">

        <div class="row">
            <div class="col-4">
                <strong>対戦結果</strong>
            </div>

            <div class="col-8">
                <div class="row gx-0">
                    {% for participant in participants %}
                    {% if forloop.counter == 1 %}{% else %}<hr class="my-1">{% endif %}
                    <div class="col-2">{{ participant.rank }}位</div>
                    <div class="col-8">{{ participant.player.name }}</div>
                    <div class="col-2">{{ participant.player.ltst_rating }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr class="my-1">


        <a href="{% url 'multi:game_update' object.pk %}" class="btn btn-primary mt-5 mb-3">編集</a>
        <a href="{% url 'multi:game_delete' object.pk %}" class="btn btn-danger mt-5 mb-3 ml-2">削除</a>
        <a href="{% url 'multi:game_list' %}" class="btn btn-secondary mt-5 mb-3">戻る</a>

        {% endblock %}