{% extends 'multi/center.html' %}
{% load static %}

{% block title %}対戦結果一覧 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block head %}
{% endblock %}

{% block contents %}
<h4 class="bg-secondary text-white p-1">{{ team }}の対戦結果一覧</h4>
<div class="d-flex justify-content-end mb-4">
    <a class="btn btn-primary"
       href="{% if team.one_on_one %}{% url 'multi:game_create_1on1' %}{% else %}{% url 'multi:game_create' %}{% endif %}">対戦結果登録</a>
</div>
{% for game in game_list %}
<div class="row mx-0 mb-2 border">

    <a href="{% url 'multi:game_detail' game.pk %}" class="col-md-8 h2 mb-0 bg-light text-decoration-none">
        <!--pk=プライマリキー-->
        {{ game.name }}{% if game.name == '' %}タイトルなし{% endif %}
    </a>

    <div class="col-md-4 bg-light text-dark">
        <p class="text-start text-md-end mb-0">
            {{ game.date }}
        </p>
    </div>
    <a href="{% url 'multi:game_detail' game.pk %}" class="col-12 bg-light text-dark text-decoration-none">
        <!--pk=プライマリキー-->
        {% if game.need_to_recalc %}
        <form action="{% url 'multi:recalc' game.pk %}" method="post" class="m-0">
            {% csrf_token %}
            <button type="submit" class="badge bg-danger border-0" name="recalc_button_{{ game.pk }}">要再計算</button>

        </form>
        {% endif %}
        {% for pl in game.participant_game.all|dictsort:"rank" %}
        {{ pl.rank }}位:{{pl.player.name}}({{pl.new_rating|floatformat:0}}){% if not forloop.last %}、{% endif %}
        {% endfor %}
    </a>
</div>

{% empty %}
<p>対戦結果がありません。</p>
{% endfor %}

<p class="small">
    ※古い対戦を編集した場合、より新しい試合の再計算が必要となる場合があります。<br>
    より古い対戦から順に<span class="badge bg-danger">要再計算</span>をクリックして再計算してください。
</p>

<!--  ページネーション処理  -->
{% if is_paginated %}
<ul class="pagination">
    <!--前ページへのリンク-->
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}

    <!--ページ数表示-->
    {% for page_num in page_obj.paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="page-item active">
        <a href="#" class="page-link">{{page_num}}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a href="?page={{ page_num }}" class="page-link">{{page_num}}</a>
    </li>
    {% endif %}
    {% endfor %}

    <!--次ページへのリンク-->
    {% if page_obj.has_next %}
    <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}