{% extends 'multi/base.html' %}
{% load static %}

{% block title %}対戦結果編集 | ランクメーカー{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="">対戦情報</h2>
            <h6 class="">対戦に参加したプレイヤーの順位を入力し、それ以外は空欄としてください</h6>
            <button class="btn btn-primary" type="submit">更新</button>

            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">更新</button>
        </form>
    </div>
{% endblock %}