{% extends 'multi/base.html' %}
{% load static %}

{% block title %}対戦結果詳細 | ランクメーカー{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-3">
            <strong>試合タイトル</strong>
        </div>
        <div class="col-9">
            {{ object.name }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>試合日時</strong>
        </div>
        <div class="col-9">
            {{ object.date }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>対戦結果</strong>
        </div>

        <div class="col-9">
            <table class="table">
                {% for participant in participants %}
                <tr>
                    <td>{{ participant.rank }}位</td>
                    <td>{{ participant.player.name }}</td>
                    <td>{{ participant.player.ltst_rating }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>

    <hr>


    <a href="{% url 'multi:game_update' object.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
    <a href="{% url 'multi:game_delete' object.pk %}" class="btn btn-danger mt-5 mb-3 ml-2">削除</a>
    <a href="{% url 'multi:game_list' %}" class="btn btn-secondary mt-5 mb-3">戻る</a>

{% endblock %}