{% extends 'multi/base.html' %}
{% load static %}

{% block title %}対戦結果追加 | ランクメーカー{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto mr-auto">
                    <h2 class="">対戦情報</h2>
                    <h6 class="mb-0">対戦に参加したプレイヤーの順位を入力し、それ以外は空欄としてください</h6>
                </div>
                <div class="col-auto ms-auto d-flex align-items-end">
                    <button class="btn btn-primary" type="submit">作成</button>
                </div>

            </div>

            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">作成</button>
        </form>
    </div>
{% endblock %}