{% extends 'multi/center.html' %}
{% load static %}

{% block title %}対戦結果一覧 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block head %}
{% endblock %}

{% block contents %}
<h4 class="bg-secondary text-white p-1">{{ team }}の対戦結果一覧</h4>
<div class="d-flex justify-content-end mb-4">
    <a class="btn btn-primary" href="{% url 'multi:game_create' %}">対戦結果登録</a>
</div>
{% for game in game_list %}
<a href="{% url 'multi:game_detail' game.pk %}" class="text-decoration-none"><!--pk=プライマリキー-->
    <div class="row mx-0 mb-2 border">
        <div class="col-md-8 h2 mb-0 bg-light">{{ game.name }}{% if game.name == '' %}タイトルなし{% endif %}</div>

        <div class="col-md-4 bg-light text-dark">
            <p class="text-end mb-0">{{ game.date }}</p>
        </div>
        <div class="col-12 bg-light text-dark">
            {% for pl in game.participant_game.all %}
            {{ pl.rank }}位:{{pl.player.name}}{% if not forloop.last %}、{% endif %}
            {% endfor %}
        </div>
    </div>
</a>
{% empty %}
<p>対戦結果がありません。</p>
{% endfor %}

<!--  ページネーション処理  -->
{% if is_paginated %}
<ul class="pagination">
    <!--前ページへのリンク-->
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}

    <!--ページ数表示-->
    {% for page_num in page_obj.paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="page-item active">
        <a href="#" class="page-link">{{page_num}}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a href="?page={{ page_num }}" class="page-link">{{page_num}}</a>
    </li>
    {% endif %}
    {% endfor %}

    <!--次ページへのリンク-->
    {% if page_obj.has_next %}
    <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}