{% extends 'multi/center.html' %}
{% load static %}

{% block title %}対戦結果追加 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}



{{ form.media }}

<h4 class="bg-secondary text-white p-1">対戦情報</h4>
<h6 class="mb-0">対戦に参加したプレイヤーの順位を入力し、それ以外は空欄としてください。</h6>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-1">
        <div class="col-auto ms-auto d-flex align-items-end">
            <button class="btn btn-primary" type="submit">作成</button>
        </div>
    </div>


                {% include 'multi/form_fields_loop.html' %}
    <button class="btn btn-primary" type="submit">作成</button>
    <a href="{% url 'multi:game_create' %}">＞多人数対戦の入力画面はこちら</a>
</form>


{% endblock %}