{% extends 'multi/center.html' %}
{% load static %}

{% block title %}対戦結果の削除 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_match_list %}active{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">対戦結果の削除</h4>
        <form method="POST">
            {% csrf_token %}
            <p>本当に削除しますか？</p>
            <button class="btn btn-primary mt-5" type="submit">削除</button>
            <a href="{% url 'multi:game_detail' object.pk %}" class="btn btn-secondary mt-5 ml-2">キャンセル</a>
        </form>

{% endblock %}