{% extends 'multi/center.html' %}
{% load static %}

{% block title %}お知らせ一覧 | ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_notice_list %}active{% endblock %}

{% block head %}
{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">お知らせ一覧</h4>
        <div class="mt-2">
            <table class="table mb-0">
                <tr>
                </tr>
                {% for article in object_list %}
                <tr>


                    <td>
                        {% if article.category == 1 %}
                        <span class="badge bg-info">{{ article.get_category_display }}</span>
                        {% elif article.category == 2 %}
                        <span class="badge bg-danger">{{ article.get_category_display }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'multi:notice' article.pk %}">{{ article.title }}</a></td>
                    <td>{{ article.release_date }}</td>

                </tr>

                {% endfor %}
            </table>

            <!--  ページネーション処理  -->
            {% if is_paginated %}
            <ul class="pagination">
                <!--前ページへのリンク-->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <!--ページ数表示-->
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active">
                    <a href="#" class="page-link">{{page_num}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ page_num }}" class="page-link">{{page_num}}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!--次ページへのリンク-->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>

{% endblock %}