{% extends 'multi/center.html' %}
{% load static %}

{% block title %}{{ object.title }}　| ランクメーカー{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block active_notice_list %}active{% endblock %}

{% block contents %}

<h4 class="bg-secondary text-white p-1">{{ object.title }}</h4>
<div class="row">
    <div class="col-3">
        <strong>公開日時</strong>
    </div>
    <div class="col-9">
        {{ object.release_date }}
    </div>
</div>

<hr class="my-1">

<div class="row">
    <div class="col-3">
        <strong>本文</strong>
    </div>
    <div class="col-9">
        {% autoescape off %}
        {{ object.text|linebreaksbr }}
        {% endautoescape %}
    </div>
</div>
<hr class="my-1">

<a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary mt-3">戻る</a>
{% endblock %}