{% extends 'multi/center.html' %}
{% load static %}

{% block title %}メンバー削除 | ランクメーカー{% endblock %}

{% block active_player_list %}active{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">メンバーの削除</h4>
        <form method="POST">
            {% csrf_token %}
            <p>本当にメンバーを削除しますか？<br>削除後メンバーを再作成しても、過去の対戦結果と結びつけることはできません。</p>
            <button class="btn btn-primary mt-5" type="submit">削除</button>
            <a href="{% url 'multi:player_detail' object.pk %}" class="btn btn-secondary mt-5 ml-2">キャンセル</a>
        </form>

{% endblock %}