{% extends 'multi/center.html' %}
{% load static %}

{% block title %}メンバー追加 | ランクメーカー{% endblock %}

{% block active_player_list %}active{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">メンバー追加</h4>
        <p>
            メンバーを追加します。引退済みのメンバーを追加する場合は引退済みにチェックを入れてください。<br>
            <a href="{% url 'multi:batch_player_create' %}">＞一度に複数名追加する場合はこちら</a>
        </p>
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'multi/form_fields_loop.html' %}
                <button class="btn btn-primary" type="submit">追加</button>
            </form>
        </div>

{% endblock %}