{% extends 'multi/center.html' %}

{% load static %}

{% block title %}ランキング表示｜ランクメーカー{% endblock %}

{% block active_ranking %}active{% endblock %}

{% block header %}

{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">最新ランキング</h4>
        <div>
            <table class="table">
                <tr>
                    <th>順位</th>
                    <th>名前</th>
                    <th>レーティング</th>
                </tr>

                {% for player in ranking %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>
                        <a href="{% url 'multi:player_detail' player.pk %}"  class="text-decoration-none">
                            {{ player.name }}
                        </a>
                    </td>
                    <td>{{ player.ltst_rating|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">メンバーが登録されていません。<a href="{% url 'multi:player_create' %}">メンバーの登録はこちらから。</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}