{% extends 'multi/center.html' %}

{% load static %}

{% block title %}ランキング表示｜ランクメーカー{% endblock %}

{% block active_ranking %}active{% endblock %}

{% block header %}

{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">{{ team.name }} 最新ランキング</h4>
        <div>
            <table class="table">
                <tr>
                    <th>順位</th>
                    <th>名前</th>
                    <th>レーティング</th>
                </tr>

                {% for player in ranking %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ player.name }}</td>
                    <td>{{ player.ltst_rating }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">メンバーが登録されていません。</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p class="small text-end"><a href="{% url 'entrance:index' %}">＞トップページに戻る</a></p>


{% endblock %}