{% extends 'multi/center.html' %}
{% load static %}

{% block title %}チーム作成 | ランクメーカー{% endblock %}

{% block active_team_config %}active{% endblock %}

{% block toplink %}{% url 'multi:home' %}{% endblock %}

{% block contents %}

        <h4 class="bg-secondary text-white p-1">チーム作成</h4>
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'multi/form_fields_loop.html' %}
                <button class="btn btn-primary" type="submit">作成</button>
            </form>
        </div>

{% endblock %}